<h1>Bootstrap 5.3</h1>

<p class="text-sm-end text-primary bg-black">Esse texto será alinhado a direita da tela pequena(sm)</p>
<p class="text-md-center text-success bg-dark">Esse texto será alinhado no centro da tela média(md)</p>
<p class="text-lg-start text-danger bg-light">Esse texto será alinhado a esquerda da tela grande(lg)</p>

