<div class="row bg-success m-0" style="height: 200px">
    <div class="col-12 bg-danger"> HEADER</div>
</div>

<div class="row m-0" style="height: 500px;">
    <div class="col-3 bg-primary">Div-1</div>
    <div class="col-7 bg-info">Div-2</div>
    <div class="col-2 bg-warning">Div-3</div>
</div>
<div class="row m-0" style="height: 100px;">
    <div class="col-6 bg-black">Footer 1</div>
    <div class="col-6 bg-success">Footer 2</div>
</div>