<div class="row bg-success m-0" style="height: 200px">
    <div class="col bg-danger"> HEADER</div>
</div>

<div class="row m-0 gap-3 g-3" style="height: 500px;">
    <div class="col-12 col-md-3 bg-primary">Div-1</div>
    <div class="col-12 col-md bg-info">Div-2</div>
    <div class="col-12 d-md-none d-lg-block col-lg-2 bg-warning">Div-3</div>
</div>
<div class="row m-0 gap-3 g-3" style="height: 100px;">
    <div class="col bg-black">Footer 1</div>
    <div class="col bg-success">Footer 2</div>
    <div class="col bg-primary">Footer 3</div>
    <div class="col bg-info">Footer 4</div>
</div>