@{
    ViewData["Title"] = "Imagens no bootstrap";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <button class="btn btn-outline-primary">teste 1</button>
    <button class="btn btn-lg btn-success">teste 2</button>
    <!--Imagem responsiva-->
    <img class="img-fluid" src="~/img/1957_chevrolet_bel_air.jpg" />
    <hr class="mt-3" />
    <img class="img-thumbnail rounded-circle" src="~/img/fosfbgdauaagryi.jpg" width="200" height="300" />
    <hr class="mt-3" />
    <img class="img-fluid rounded-5" src="~/img/1957_chevrolet_bel_air.jpg" width="200" height="300" />
</div>
